{% load staticfiles %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Coursebazzar.com/</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Bettering Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- // Meta Tags -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" href="{%  static 'css/swipebox.css' %}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,800" rel="stylesheet">
	<!--//fonts-->

</head>

<body>
	<!--Header-->
	<div class="header">
	<div class="top">
					<div class="container">
						
							<div class="col-md-9 top-left">
								<ul>
									<li><i class="fa fa-map-marker" aria-hidden="true"></i> 201001 GHAZIABAD, INDIA</li>
									<li><i class="fa fa-phone" aria-hidden="true"></i> +(091) 975 858 1353</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">coursebazzar@.com</a></li>
								</ul>
							</div>
							<div class="col-md-3 top-middle">
								<ul>
									<li><a href="https://www.facebook.com/login/"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://accounts.google.com/signin/v2/identifier?passive=1209600&osid=1&continue=https%3A%2F%2Fplus.google.com%2Fdiscover&followup=https%3A%2F%2Fplus.google.com%2Fdiscover&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
							
							<div class="clearfix"></div>
						
					</div>
				</div>
		<!--top-bar-w3layouts-->
		<div class="top-bar-w3layouts">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a href="index.html">Course Bazzar</a></h1>
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="gallery.html" class="active">Gallery</a></li>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>

					</div>

					<div class="search-bar-agileits">
						<div class="cd-main-header">
							<ul class="cd-header-buttons">
								<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
							</ul>
							<!-- cd-header-buttons -->
						</div>
						<div id="cd-search" class="cd-search">
							<form action="#" method="post">
								<input name="Search" type="search" placeholder="Find Colleges,University & Courses Click enter after typing...">
							</form>
						</div>
					</div>


					<div class="clearfix"> </div>
				</nav>
			</div>

		</div>
		<!--//top-bar-w3layouts-->
		<!--Slider-->
		<div class="banner">
			
		</div>
		
		<!-- //Modal1 -->
		<!--//Slider-->
	</div>
	<!--//Header-->
		<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<h3 class="title-txt"><span>C</span>olleges<span> G</span>allery</h3>
			<div class="gallery_gds">
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{% static 'images/g2.jpg' %}" class="swipebox" title="THEERTHANKER MAHAVEER UNIVERSITY MORADABAD-Our endeavor is to impart knowledge and develop critical skills necessary to succeed both in professional and personal life by promoting learning supported by world-class faculty, infrastructure, technology, curricula
						and collaborative teaching and research with premier institutions in India and abroad.">
								<img class="img-responsive img-style row2" src="{% static 'images/g2.jpg' %}" alt=""  />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{%  static 'images/g3.jpg' %}" class="swipebox" title="AMITY UNIVERSITY LUCKNOW-To provide education at all levels in all disciplines of modern times and in the futuristic and emerging frontier areas of knowledge, learning and research and to develop the overall personality of students by making
						them not only excellent professionals but also good individuals, with understanding and regard for human values, pride in their heritage and culture, a sense of right and wrong and yearning for perfection and imbibe attributes of courage of conviction and action.">
								<img src="{%  static 'images/g3.jpg' %}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{%  static 'images/g1.jpg' %}" class="swipebox" title=" VIT UNIVERSITY CHANNAI-

    To impart knowledge & skill based Education in Collaboration with Industry, Academia & Research Organization.
    To strengthen global collaboration for Students, Faculty Exchange and joint research.
    To prepare competent Engineers with the spirit of Entrepreneurship.
    To Inculcate and Strengthen Research Aptitude amongst the Students and Faculty.
">
								<img src="{%  static 'images/g1.jpg' %}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{% static 'images/g4.jpg' %}" class="swipebox" title="Armour College of Engineering CHICAGO-To provide distinctive and relevant education in an environment of scientific, technological, and professional knowledge creation and innovation.">
								<img src="{% static 'images/g4.jpg' %}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{% static 'images/g5.jpg' %}" class="swipebox" title="LPU PUNJAB-

    To transform education through academic rigour, practical orientation and outcome based teaching.
    To develop a relationship of cooperation between industry and academia.
    To undertake impactful research addressing local, national and global challenges.
    To prepare graduates to be lifelong learners with
    strong analytical and leadership skills.
    To develop global professionals & entrepreneurs with innovative spirit, tolerance and desire to make a difference to the society.

">
								<img src="{%  static 'images/g5.jpg' %}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{%  static 'images/g6.jpg' %}" class="swipebox" title="IIT Bombay-To create an ambience in which new ideas, research and scholarship flourish, and from which the leaders and innovators of tomorrow emerge.
    To address problems faced by the nation and the world through the talent we nurture and the research we do.
    To provide an education that transforms students through rigorous coursework and by providing an understanding of the needs of society and industry.
    To collaborate with other academic and research institutes around the world to strengthen the education and research ecosystem.">
								<img src="{%  static 'images/g6.jpg'%}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{%  static 'images/g7.jpg' %}" class="swipebox" title="GALGOTIAS UNIVERSITY-TO PLACE ALL STAKEHOLDERS in pursuit of perfection, discovery and innovation in one’s own discipline, while being aware that all one does, emerges from and integrates into a wider common human good.

TO FOSTER a culture of openness and preparedness towards cutting-edge future roadmap and emerging knowledge blocks with a constant eye on applicability and scalability.

TO DEVELOP and instill a culture of continual multi-disciplinary and interdisciplinary enquiry and education among all stakeholders, leading to the evolution of an education model that focuses on experiential learning to prepare students to lead, through the challenges of a rapidly changing world.

TO DEVELOP a learning orientation across the entire university ecosystem that goes beyond domain knowledge so as to ensure that learning and problem-solving continue for life.">
								<img src="{% static 'images/g7.jpg' %}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{%  static 'images/g8.jpg' %}" class="swipebox" title="BITS PILANI HYDRABAD-To maintain high standards of teaching by innovating pedagogy, instilling in students the ability to be lifelong learners, and continually upgrading the program curriculum of both first degree and higher degree courses in line with international standards of biology education and to meet the requirement of industry and research community.
To provide a flexible curriculum that allows the students to study courses of his/her choice (through Elective courses) that will fulfill their aptitude and professional aspirations.
To provide a flexible, accommodative and conducive environment for faculty members and doctoral students to flourish in teaching and research.
To create opportunities and a supporting infrastructure for students – through laboratory courses, projects, dissertations, and possible entrepreneurial ventures in biotechnology to achieve their aspirations.
To contribute to societal outreach by inviting students from other institutions to work in the Department in an internship programmes and to organize workshops/short-term courses relevant to contemporary expectations in the Biotechnology Industry and R&D facilities">
								<img src="{% static 'images/g8.jpg' %}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="col-md-4 gallery-grids">
					<div class="galry-img-agileinfo">
						<a href="{%  static 'images/g9.jpg' %}" class="swipebox" title="Duis maximus tortor diam, ac lobortis justo rutrum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non purus fermentum, eleifend velit non">
								<img src="{%  static 'images/g9.jpg' %}" alt="" class="img-responsive img-style row2" />
							</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //gallery -->

<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="f-bg-w3l">
		<div class="col-md-4 w3layouts_footer_grid">
					<h3>About Us</h3>
					<p>coursebazzar.com is a one-stop-solution making course and college selection easy for students looking to pursue 
					undergraduate (UG) andpostgraduate (PG) courses in India and abroad; also accessible to users on the move through the website’s mobile site.</p>
				</div>
				<div class="col-md-4 w3layouts_footer_grid hpft">
					<h3>Contact Us</h3>
					    <ul class="con_inner_text">
							<li><span class="fa fa-map-marker" aria-hidden="true"></span>201001 Patel Nagar-IIIrd, C Block, <label> GHAZIABAD City.</label></li>
							<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:info@example.com">coursebazzar@.com</a></li>
							<li><span class="fa fa-phone" aria-hidden="true"></span> +9197 5858 1353</li>
						</ul>

					
				</div>
				<div class="col-md-4 w3layouts_footer_grid">
					<h2>Subscribe</h2>
					<p>By subscribing to our mailing list you will always get latest news from us.</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="clearfix"> </div>		
			</div>	
			</div>
	</div>
	<p class="copyright">© 2018 CourseBazzar. All Rights Reserved | Design by <a href="https://sites.google.com/view/dhurubsaxena/home" target="_blank">DhurubSaxena</a></p>
	<!-- //footer -->
	<!-- Required Scripts -->
	<!-- Common Js -->
	<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<!--// Common Js -->
	<!--search-bar-agileits-->
	<script src="{% static 'js/main.js' %}"></script>
	<!--//search-bar-agileits-->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{%  static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
<!-- swipe box js -->
	<script src="{% static 'js/jquery.adipoli.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			$('.row2').adipoli({
				'startEffect': 'overlay',
				'hoverEffect': 'sliceDown'
			});
		});
	</script>
	<script src="{% static 'js/jquery.swipebox.min.js' %}"></script>
	<script type="text/javascript">
		jQuery(function ($) {
			$(".swipebox").swipebox();
		});
	</script>
	<!-- //swipe box js -->

	<!-- Bootstrap Js -->
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<!--// Bootstrap Js -->

	<!--// Required Scripts -->
</body>

</html>